<div class="ghost-lista">
  <div *ngFor="let ghost of ghost; let i = index" class="ghost-item">
    <div class="ghost-card">
      <h3>{{ ghost.nev }}</h3>
      <img [src]="ghost.image" [alt]="ghost.nev" class="ghost-kep">
      <p class="leiras"> {{ ghost.leiras }} </p>
      <p class="ar">Ár: {{ ghost.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="ghost.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>