<div class="nerds-lista">
  <div *ngFor="let nerds of nerds; let i = index" class="nerds-item">
    <div class="nerds-card">
      <h3>{{ nerds.nev }}</h3>
      <img [src]="nerds.image" [alt]="nerds.nev" class="nerds-kep">
      <p class="leiras"> {{ nerds.leiras }} </p>
      <p class="ar">Ár: {{ nerds.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="nerds.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>