<div class="prime-lista">
  <div *ngFor="let prime of prime; let i = index" class="prime-item">
    <div class="prime-card">
      <h3>{{ prime.nev }}</h3>
      <img [src]="prime.image" [alt]="prime.nev" class="prime-kep">
      <p class="leiras"> {{ prime.leiras }} </p>
      <p class="ar">Ár: {{ prime.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="prime.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>