<div class="takis-lista">
  <div *ngFor="let takis of takis; let i = index" class="takis-item">
    <div class="takis-card">
      <h3>{{ takis.nev }}</h3>
      <img [src]="takis.image" [alt]="takis.nev" class="takis-kep">
      <p class="leiras"> {{ takis.leiras }} </p>
      <p class="ar">Ár: {{ takis.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="takis.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>