<div class="cheetos-lista">
  <div *ngFor="let cheetos of cheetos; let i = index" class="cheetos-item">
    <div class="cheetos-card">
      <h3>{{ cheetos.nev }}</h3>
      <img [src]="cheetos.image" [alt]="cheetos.nev" class="cheetos-kep">
      <p class="leiras"> {{ cheetos.leiras }} </p>
      <p class="ar">Ár: {{ cheetos.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="cheetos.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>