
<div class="cheetos-lista">
    <div class="cheetos-item">
      <div class="cheetos-card">
  
        <h3>Cheetos Mac and Cheese Jalapeño 164g</h3> 
        <img src="./assets/cheetos/Cheetos Mac and Cheese Jalapeño 164g.jpg" alt="Cheetos Mac and Cheese Jalapeño 164g" class="cheetos-kep">
        <p>A Cheetos Mac and Cheese Jalapeño egy pikáns, csípős tésztaétel, amely ötvözi a klasszikus sajtos makaróni krémes ízét a Cheetos ropogós textúrájával és a jalapeño paprika csípős, füstös aromájával.</p> 
        <p class="ar">Ár: 2490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Mac and Cheese Four Cheesy 170g</h3> 
        <img src="./assets/cheetos/Cheetos Mac and Cheese Four Cheesy 170g.jpg" alt="Cheetos Mac and Cheese Four Cheesy 170g" class="cheetos-kep">
        <p>A Cheetos Mac and Cheese Four Cheesy egy gazdag, krémes tésztaétel, amely négyféle sajt intenzív ízét kombinálja a Cheetos jellegzetes, sajtos aromájával, létrehozva egy különlegesen ízletes és kielégítő makaróni élményt.</p> 
        <p class="ar">Ár: 2690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="cheetos-card">
      <h3>Cheetos Japan Steak Flavor Chips 90g</h3> 
        <img src="./assets/cheetos/Cheetos Japan Steak Flavor Chips 90g.jpg" alt="Cheetos Japan Steak Flavor Chips 90g" class="cheetos-kep">
        <p>A Cheetos Japan Steak Flavor Chips egy különleges, japán steak ízvilágát idéző kukoricás snack, amely a hagyományos japán marhahús zamatos, fűszeres ízét kombinálja a Cheetos jellegzetes ropogós textúrájával.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Crunchy Cheddar Jalapeño Chips 226g</h3> 
        <img src="./assets/cheetos/Cheetos Crunchy Cheddar Jalapeño Chips 226g.jpg" alt="Cheetos Crunchy Cheddar Jalapeño Chips 226g" class="cheetos-kep">
        <p>Tökéletes egyensúly a sajtos és csípős ízek között, intenzív jalapeño aromával.</p> 
        <p class="ar">Ár: 1990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="cheetos-card">
        <h3>Cheetos Flamin' Hot Crunchy 226g</h3> 
          <img src="./assets/cheetos/Cheetos Flamin' Hot Crunchy 226g.jpg" alt="Cheetos Flamin' Hot Crunchy 226g" class="cheetos-kep">
          <p>Ikonikus csípős íz, amely rendkívül népszerű a rajongók körében.</p> 
          <p class="ar">Ár: 3490 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Puffs 226g</h3> 
        <img src="./assets/cheetos/Cheetos Puffs 226g.jpg" alt="Cheetos Puffs 226g" class="cheetos-kep">
        <p>Klasszikus sajtos íz könnyű, levegős textúrával, amely sokak gyerekkori kedvence.</p> 
        <p class="ar">Ár: 3990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Flamin' Hot Puffs 226g</h3> 
        <img src="./assets/cheetos/Cheetos Flamin' Hot Puffs 226g.jpg" alt="Cheetos Flamin' Hot Puffs 226g" class="cheetos-kep">
        <p>A népszerű csípős íz puffasztott változata, amely még intenzívebb ízélményt nyújt.</p> 
        <p class="ar">Ár: 3490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Popcorn Cheddar 17g</h3> 
        <img src="./assets/cheetos/Cheetos Popcorn Cheddar 17g.jpg" alt="Cheetos Popcorn Cheddar 17g" class="cheetos-kep">
        <p>Sajtos ízesítésű pattogatott kukorica, amely ötvözi a Cheetos és a popcorn legjobb tulajdonságait.</p> 
        <p class="ar">Ár: 3090 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Simply Puffs White Cheddar 70g</h3> 
        <img src="./assets/cheetos/Cheetos Simply Puffs White Cheddar 70g.jpg" alt="Cheetos Simply Puffs White Cheddar 70g" class="cheetos-kep">
        <p>Fehér cheddar sajttal ízesített puffasztott kukoricasnack.</p> 
        <p class="ar">Ár: 4090 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Fantastix Chili Cheese 28g</h3> 
        <img src="./assets/cheetos/Cheetos Fantastix Chili Cheese 28g.jpg" alt="Cheetos Fantastix Chili Cheese 28g" class="cheetos-kep">
        <p>Vékony, pálcika alakú snack intenzív sajtízzel.</p> 
        <p class="ar">Ár: 3250 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Big Chipito Sweet Chilli flavour 100g</h3> 
        <img src="./assets/cheetos/Cheetos Big Chipito Sweet Chilli flavour 100g.jpg" alt="Cheetos Big Chipito Sweet Chilli flavour 100g" class="cheetos-kep">
        <p>Nagyobb méretű, ropogós kukoricachips édes-csípős chili ízesítéssel.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Crunchetos Sweet Chili flavour 110g</h3> 
        <img src="./assets/cheetos/Cheetos Crunchetos Sweet Chili flavour 110g.jpg" alt="Cheetos Crunchetos Sweet Chili flavour 110g" class="cheetos-kep">
        <p>Ropogós kukoricachips édes-csípős chili aromával, intenzív ízélményt nyújtva.</p> 
        <p class="ar">Ár: 240 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g</h3> 
        <img src="./assets/cheetos/Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g.jpg" alt="Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g" class="cheetos-kep">
        <p>Még csípősebb változata a klasszikus Flamin' Hot íznek.</p> 
        <p class="ar">Ár: 7380 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Cheetos Beef and Onions Flavor 40g</h3> 
        <img src="./assets/cheetos/Cheetos Beef and Onions Flavor 40g.jpg" alt="Cheetos Beef and Onions Flavor 40g" class="cheetos-kep">
        <p>Ropogós kukoricasnack intenzív marhahús és hagyma ízesítéssel, kisebb kiszerelésben.</p> 
        <p class="ar">Ár: 2330 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    
    </div>
  </div>
  