<div class="arizona-lista">
  <div *ngFor="let arizona of arizona; let i = index" class="arizona-item">
    <div class="arizona-card">
      <h3>{{ arizona.nev }}</h3>
      <img [src]="arizona.image" [alt]="arizona.nev" class="arizona-kep">
      <p class="leiras"> {{ arizona.leiras }} </p>
      <p class="ar">Ár: {{ arizona.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="arizona.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>