<div class="warheads-lista">
  <div *ngFor="let warheads of warheads; let i = index" class="warheads-item">
    <div class="warheads-card">
      <h3>{{ warheads.nev }}</h3>
      <img [src]="warheads.image" [alt]="warheads.nev" class="warheads-kep">
      <p class="leiras"> {{ warheads.leiras }} </p>
      <p class="ar">Ár: {{ warheads.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="warheads.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>