<div class="savanyu-uditok-lista">
  <div *ngFor="let uditok of uditok; let i = index" class="savanyu-uditok-item">
    <div class="savanyu-uditok-card">
      <h3>{{ uditok.nev }}</h3>
      <img [src]="uditok.image" [alt]="uditok.nev" class="savanyu-uditok-kep">
      <p class="leiras"> {{ uditok.leiras }} </p>
      <p class="ar">Ár: {{ uditok.ar }} Ft</p>
      <div class="mennyiseg">
        Mennyiség: <input type="number" [(ngModel)]="uditok.darab" min="1">
      </div>
      <button class="kosar-gomb" (click)="kosarbaRak(i)">
        Kosárba rakom
      </button>
    </div>
  </div>
</div>